body {
    background-color: white;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link, a:visited {
    color: #000;
    text-decoration: dotted underline;
}

a:hover {
    color: #000;
    text-decoration: solid underline;
}